TODO.md
Guide.md
Source/obj/PeskysGauranlenArmoryRedux.csproj.nuget.dgspec.json
gauranlen_armory_redux.sln.DotSettings.user
Source/obj/project.packagespec.json
Source/obj/project.nuget.cache
Source/obj/Debug/PeskysGauranlenArmoryRedux.GeneratedMSBuildEditorConfig.editorconfig
